export("eq_clean_data")
export("eq_loc_helper")
export("eq_location_clean")
export("geom_timeline")
export("eq_map")

import(dplyr)
import(ggplot2)
importFrom(readr,read_delim)

#importFrom(graphics,points)
#importFrom(stats,setNames)
#importFrom(dplyr,select)
#importFrom(dplyr,summarize)
#importFrom(dplyr,tbl_df)
#importFrom(dplyr,"%>%")
#importFrom(dplyr,bind_rows)
#importFrom(dplyr,filter)
#importFrom(dplyr,group_by)
#importFrom(dplyr,mutate)
#importFrom(ggplot2, layer)
#importFrom(ggplot2, ggproto)
#importFrom(ggplot2, draw_key_point)
#importFrom(grid, gTree)
#importFrom(grid, linesGrob)
#importFrom(grid, pointsGrob)
#importFrom(ggplot2, .stroke)
#importFrom(ggplot2, aes)
#importFrom(scales, alpha)

